* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9C88FF;

}

#backup {

    height: 10%;
    width: 90%;
    display:  flex;
    align-items: center;
    justify-content: flex-end;

}

#botoes_backup {

    height: 90%;
    width: 30%;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 15px;
    font-weight: bolder;

}

#botoes_backup button {

    padding: 8px;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;

}

#botoes_backup button a {

    text-decoration: none;
    color: #9C88FF;
    font-weight: bolder;

}

#container {

    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 15px;

}

.small-line {

    height: 25%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.small-line img {

    width: 17.5%;

}

#big-line {

    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#big-line img {

    width: 22.5%;

}

#marca, #tipo, #combustivel, #fabricante {

    height: 70%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#veiculo {

    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#marca a, #tipo a, #combustivel a, #fabricante a, #veiculo a {

    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000000;

}